
.right{
    text-align: right;
    margin-left: 80%;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.carousel{
    width: 50%;
    margin-left: 25%;
    /* height: 30%; */
}
.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
.card{
    background-image: linear-gradient(rgb(199, 235, 253),rgb(255, 255, 255),rgb(199, 235, 253));
    padding: 10px;
    margin: 10px;
}
.card:hover{
    box-shadow: 10px 15px 15px 15px rgba(36, 153, 95, 0.664);
}
.card-title, .card-subtitle{
font-weight: bold;
color: darkmagenta;
}
a:hover{
    color: aliceblue;
    text-decoration: none;
}
mat-form-field {
    margin-right: 12px;
  }

a{
text-decoration: none;
color: aliceblue;
}
.texts{
font-size: 18px;
}
#cards{
    background-image: linear-gradient(rgba(184, 231, 225, 0.911),rgb(212, 235, 233),rgb(161, 189, 212));
    padding: 10px;
    margin: 10px;
}
#cards:hover{
    box-shadow: 10px 15px 15px 15px rgba(201, 62, 8, 0.596);
}
.alert{
    width: 50%;
    margin-left: 25%;
}
.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}
#discount{
    animation-name: disc;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes disc{
    100%{
        color: red;
    }
}